body {
  width: 100%;
  height: 100%;
  margin: 0;
}


header {
    text-align: center;
}

nav a {
    padding: 0 10px;
    background-color: #998062;
    color: #fff;
}

#featured-property {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#featured-property figcaption {
    font-size: 12px;
}

#featured-property p {
    width: 70%;
    margin: 0 auto;
}

#details {
    display: block;
    margin-top: 15px;
}

#details div {
    float: left;
    background-color: #998062;
    text-align: center;
    width: 25%;
}
